* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 95px;
    max-width: 95px;
    font-size: 9px;
}

td.cantidad,
th.cantidad {
    width: 30px;
    max-width: 30px;
    word-break: break-all;
    font-size: 9px;
}

td.precio,
th.precio {
    width: 30px;
    max-width: 30px;
    word-break: break-all;
    font-size: 9px;
}

td.fecha,
th.fecha{
    width: 45px;
    max-width: 45px;
    word-break: break-all;
    font-size: 9px;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}